@charset "utf-8";


*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    color: #ffffff;
    font: 10pt 'Lato', 'Noto Sans JP', sans-serif;
    background: #282828;
}

.meter{
    direction: rtl;
    width: 80%;
    height: 6px;
    margin-right: 12px;
}

.nav{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.header{
    height: 48px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    font-size: 10px;

    transition: opacity 0.5s ease 0s;
}

.header.hidden{
    opacity: 0;
}

.pageMove{
    flex: 1 1 0;

    display: flex;
}

.button{
    flex: 1 1 0;
}

.title{
    flex: 1;
    margin-right: 32px;
    text-align: center;
}

.back-btn{
    flex: 0 0 32px;

    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    cursor: pointer;

    font-size: 24px;

    color: rgb(255, 255, 255);
}

.footer{
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);

    transition: opacity 0.5s ease 0s;
}

.footer.hidden{
    opacity: 0;
}